body{
    background-color: #faeaeb;
    color: #2f3d7e;
}

a{
    text-decoration: none;
}

a:visited{
    color: #2f3d7e;
}

a:hover{
    color: #6727cd;
}

.heading{
    text-align: center;
}

.content{
    display: flex;
}

.profile_pic{
    float: left;
    margin: 25px;
}

.introduction{
    margin: 5px;
    padding: 5px;
    border: 5px;
}

.social_media{
    margin: 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}

#twitter{
    width: 50px;
}

#instagram{
    width: 50px;
}

#pic1{
    width: 50%;
}